
{% set author_profile = is_abs_url( author['profile'], static ) %}
{% set author_name_pronunciation = is_abs_url( author['name']['others']['chinese']['pronunciation'], static ) %}


<img class="character center" src="{{ author_profile }}">

<div class="center pt-5 pb-3">
    <div class="h1 b">{{ author['name']['english'] }} <text class="h4">{{ author['name']['nick_name'] }}</text></div>
    <img class='m-1' width='180px' src="{{ author_name_pronunciation }}">
  
    <div class="row justify-content-center m-3">

        {% for sl in social_links %}
            {% set social_link = is_abs_url( social_links[sl]['url'], static ) %}
            <span class="social-badge">
                <a href="{{ social_link }}">
                    <i class="{{ social_links[sl]['font_awesome'] }} social-badge"
                       style="background-color: {{ social_links[sl]['bg_color'] }}; color: white;"></i>
                </a>
            </span>
        {% endfor %}

    </div>

</div>