{% extends "html/base/block.html" %}

{% block content %}
    {% for award in awards %}
    <div class="row pt-2 pb-2 align-items-center">
        {% set award_image = is_abs_url( awards[award]['basic_info']['image'], static ) %}
        <div class="col-1"><img class='edu-logo' src="{{ award_image }}"></div>
        <div class="col-11">
            <text class="h5 b">{{ awards[award][language]['host'] }}</text><br>
            <text class="">{{ awards[award]['basic_info']['year'] }} - {{ awards[award][language]['title'] }}</text><br>
            <text class="text-black-50"><small>{{ awards[award][language]['ranking'] }}</small></text>
        </div>
    </div>
    {% endfor %}
{% endblock %}