{% extends "html/base/block.html" %}

{% block content %}

    <!-- <div class="row pt-2 pb-2 align-items-center">
        <div class="col-1"><img class='edu-logo' src="{{ static }}/image/article.png"></div>
        <div class="col-11">
            <text class="h5 b">Sharing Programming Knowledge with Beginners</text><br>
            <text class="h6">Authored {{ tutorial_repos_count }} tutorial articles or repository on various topics such as 
                {% for repo in tutorial_repos_keywords %}
                    {{ repo }}{% if not loop.last %}, {% endif %} 
                {% endfor %}
            </text><br>
        </div>
    </div> -->

    {% for exp in experiences %}
    <div class="row pt-2 pb-2 align-items-center">
        {% set experience_image = is_abs_url( experiences[exp]['basic_info']['image'], static ) %}
        <div class="col-1"><img class='edu-logo' src="{{ experience_image }}"></div>
        <div class="col-11">
            <text class="h5 b">{{ experiences[exp][language]['title'] }}</text><br>
            <text class="h6">{{ experiences[exp][language]['description'] }}</text><br>
            <text class="text-black-50"><small>{{ experiences[exp]['basic_info']['period_start'] }}</small></text>
        </div>
    </div>
    {% endfor %}
{% endblock %}