{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-4">

    {% for project in projects %}
        {% set project_image = is_abs_url( projects[project]['basic_info']['image'], static ) %}
    <div class="col">
        <div class="card">
            <img src="{{ project_image }}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title b h6 more-info" data-bs-toggle="modal" data-bs-target="#Modal-{{ project }}">{{ projects[project][language]['project_name'] }}</h5>

                <text class="text-black-50"><small><small>{{ projects[project]['basic_info']['period_start'] }} ~ {{ projects[project]['basic_info']['period_end'] }}</small></small></text>

                <p class="card-text">
                    {% for tag in projects[project]['basic_info']['tags'] %}
                    <span class="badge rounded-pill bg-secondary mt-1">{{ tag }}</span>
                    {% endfor %}
                </p>

                {% if projects[project]['basic_info']['external_link'] %}
                    <a href="{{ projects[project]['basic_info']['external_link'] }}"> 🌐 </a>
                {% endif %}

            </div>

        </div>
    </div>

    <div class="modal fade" id="Modal-{{ project }}">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">{{ projects[project][language]['project_name'] }}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-body">
                    <p class="card-text">
                       
                        <img class="card-img-top" src="{{ project_image }}">
                        {{ projects[project][language]['project_description'] }}
                    </p>
                </div>
                
                <div class="p-3">
                    {% for tag in projects[project]['basic_info']['tags'] %}
                    <span class="badge rounded-pill bg-secondary mt-1">{{ tag }}</span>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>


    {% endfor %}

</div>
{% endblock %}