{% extends "html/base/block.html" %}

{% block content %}
    <div class="row pt-3 pb-3 align-items-center">
    {% for skill in skills %}
        <div class="row mb-1 mt-1">
            <div class="col-2"><text class="h5 b">{{ skill }}</text></div>
            <div class="col-9">
            
                {% for s in skills[skill] %}
                    <!-- {{ skills[skill][s][language]['name'] }} -->
                    {{ skills[skill][s][language]['name'] }}{% if not loop.last %}, {% endif %} 
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}