<html>

<head>{% include 'html/base/header.html' %}</head>

<body>
    <div class="bg-img">
        <div class="container-fluid">
            {% include 'html/Author.html' %}
            <h2># Education</h2>
            {% include 'html/Education.html' %}
            <h2># Experience</h2>
            {% include 'html/Experience.html' %}
            <h2># Competition</h2>
            {% include 'html/Award.html' %}
            <h2># Skills</h2>
            {% include 'html/Skills.html' %}
            <h2># Research Interests</h2>
            {% include 'html/Research.html' %}
            <h2># Side Projects</h2>
            {% include 'html/Projects.html' %}

        </div>
        {% include 'html/base/footer.html' %}
    </div>
    

</body>